extends layout

block content
  h1 Input Test
  form.form-horizontal(name="adduser",method="post",action="/adduser")
    input.span3(id="inputusername", type="text", placeholder="username", name="username")
    input.span3(id="inputemail", type="text", placeholder="useremail", name="useremail")
    input.btn(type="submit", value="submit")