body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.answerRadioButton {
	display: block;
}

.singleExplanation {
    display: inline-block;
    width: 70%;
}

.explanationText {
    float: left;
    width: 70%;
}

.explanationVoteBox {
    float: right;
}

.explanationVoteBox img {
    height: 15px;
}

.ExplanationBox {
    margin-top: 20px;
}

.upvoteText {
    text-align: center;
}

.explanationTextArea {
    width: 50%;
}